<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586963627641-tfnnbsmsgji70lc0ljq997a2pt834g1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586963627641-tfnnbsmsgji70lc0ljq997a2pt834g1j</string>
	<key>API_KEY</key>
	<string>AIzaSyAP4xl6gq3lwtE_putcvL5AMrVMQMwAQ1I</string>
	<key>GCM_SENDER_ID</key>
	<string>586963627641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freetime.freetime.FreeTime.FreeTime</string>
	<key>PROJECT_ID</key>
	<string>freetime-f3cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>freetime-f3cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586963627641:ios:8e8a2749ce57fe36</string>
	<key>DATABASE_URL</key>
	<string>https://freetime-f3cc2.firebaseio.com</string>
</dict>
</plist>